* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: black;
}

body {
  background-color: #c2cad0;
}

.site-header nav {
  display: flex;
  padding: 30px 30px 30px 0px;
  text-decoration: none;
  justify-content: space-between;
  align-items: flex-end;
  background-color: salmon;
}

.site-header h1 {
  display: flex;
  color: darkblue;
  background-color: #c2b9b0;
  height: 40px;
  width: 300px;
  text-align: center;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
}

.site-header ul li {
  list-style-type: none;
  display: inline-block;
  margin-left: 40px;
  text-decoration: none;
  flex-direction: column;
}

.about-me {
  display: flex;
}

#about-me {
  background-color: #afd275;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-decoration: none;
}

.float-right {
  float: right;
  margin-right: 25px;
  width: 200px;
}

#faith-image {
  height: 200px;
  width: 200px;
}

.wall {
  background-image: url("../portfolio-projects/bharath-g-s-aLGiPJ4XRO4-unsplash.jpg");
  height: 200px;
  width: 100%;
  background-size: cover;
  background-position: center;
}
